# Keyczar files
keys/1
keys/meta

*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache

/.idea
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/project/*-shim.sbt
/activator-sbt*shim.sbt
/public/bower
/node_modules
.target

public/script
public/style

.history
.cache-main

*.retry

search
