<div class="row">
  <div class="col-sm-6">
    <div class="box box-success">
      <div class="box-header with-border">
        <h3 class="box-title">Data item</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </div>

      <div class="box-body datum_detail">
        <div class="name">{{ctrl.datum.name}}</div>
        <div class="path">{{ctrl.datum.pathOnResource}}</div>

        <div class="parents" ng-repeat="parent in ctrl.parents">
          <span><i class="fa fa-level-up fa-flip-horizontal"></i></span>
          <span class="value" ng-click="root.nav.datum(parent)">{{parent.name}}</span>
          <span class="value">({{parent.type}})</span>
          <span class="dot" ng-if="!$last">•</span>
        </div>

        <div class="tags">
          <tag ng-repeat="tag in ctrl.datum.tags" model="tag"></tag>
        </div>
        <button ng-if="ctrl.has_visualize" class="btn btn-info" style="float: right;" ng-click="ctrl.visualize = !ctrl.visualize">Visualize</button>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <basket mode="ctrl.mode" data="ctrl.children"></basket>
  </div>
</div>

<div class="row" ng-if="ctrl.has_visualize" ng-show="ctrl.visualize">
  <div class="col-sm-12">
    <div class="box box-warning">
      <div class="box-header with-border">
        <h3 class="box-title">Visualize</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </div>

      <div class="box-body visualize">
        <center>
          <img src="/images/mockvis/freesurfer/freesurfer_rotating_brain_640x480@2.gif">
        </center>
      </div>
    </div>
  </div>
</div>

<div class="row metadata">
  <div class="col-sm-12">
    <div class="box box-warning">
      <div class="box-header with-border">
        <h3 class="box-title">Metadata</h3>

        <div class="box-tools pull-right">
          <input type="text" class="form-control search" placeholder="Filter" ng-model="ctrl.info_search">
        </div>
      </div>

      <div class="box-body">
        <span ng-repeat="suggestion in ctrl.info_search_suggestions">
          <span class="key">{{suggestion.key}}:</span>
          <span class="value">{{suggestion.value.value}}</span>
          <span class="dot" ng-if="!$last">•</span>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-if="ctrl.children.length > 0">
  <div class="col-sm-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Children</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </div>

      <div class="box-body">
        <data selected="root.basket" data="ctrl.children"></data>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-if="ctrl.inputs.length > 0 || ctrl.outputs.length > 0">
  <div class="col-sm-6" ng-if="ctrl.outputs.length > 0">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Generated by</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </div>

      <div class="box-body">
        <div ng-repeat="output in ctrl.outputs">
          <genericprocessing processing="output"></genericprocessing>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6" ng-if="ctrl.inputs.length > 0">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Used by</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </div>

      <div class="box-body">
        <div ng-repeat="input in ctrl.inputs">
          <genericprocessing processing="input"></genericprocessing>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row data_import" ng-if="ctrl.replicas.length > 0">
  <div class="col-sm-12">
    <div class="box box-warning">
      <div class="box-header with-border">
        <h3 class="box-title">Replicas</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </div>

      <div class="box-body resources">
        <div ng-repeat="replica in ctrl.replicas" class="row">
          <div class="col-sm-2 col-xs-4 logo">
            <img ng-if="replica.resource.kind == 'Xnat'" src="/images/resources/xnat.png">
            <img ng-if="replica.resource.kind == 'Webdav'" src="/images/resources/webdav.png">
          </div>
          <div class="col-sm-10 col-sx-8">
            <a class="btn btn-info" href="{{replica.resource.url}}/{{replica.location}}" target="_blank">Download</a>

            <div class="name">{{replica.resource.name}}</div>
            <div class="detail">{{replica.resource.host}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>